<!DOCTYPE html>
<html lang="en">

<head>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
	<script src="https://unpkg.com/htmx.org@1.9.12"></script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body class="d-flex flex-column">
	<table border="1">
		<thead>
			<tr>
				<th>Id</th>
				<th>Type</th>
				<th>Name</th>
				<th>Update</th>
				<th>Delete</th>

			</tr>
		</thead>
		{{range .Items}}
		{{template "row.html" .}}
		{{end}}
	</table>
	<form>
		<div class="d-flex flex-row">
			<label for="Id">Id</label>
			<input name="Id">
			<label for="Type">Type</label>
			<input name="Type">
			<label for="Name">Name</label>
			<input name="Name">
			<button class="w-100" hx-post="/endpoint">Add</button>
		</div>
	</form>
</body>

</html>
